
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
              </ol>
          
              
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/imagens/Institucional/crianca.webp" alt="Los Angeles" style="width:50.3%;">
                </div>
          
                <div class="item">
                  <img src="/imagens/Institucional/familia.webp" alt="Chicago" style="width:45%;">
                </div>

              </div>
          
              
              <a class="left carousel-control" href="#myCarousel" data-slide="prev" id="Ca">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next" id="Ca">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Proximo</span>
              </a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="descricao3">
                <div class="caixa">
                    <div class="rowtitulo">
                        Um pouco sobre a MRV
                    </div>
                    <div class="caixa2">
                        <div class="rowtexto">
                            Com mais de 40 anos de atuação no mercado imobiliário, a MRV levantou sua reputação como a maior
                            construtora da América Latina através da sua alta performance, permeando 160 cidades com os seus
                            serviçoes e acarretando em 120 mil imóveis entregados apenas nos últimos 3 anos.
                            <br>
                            <br>
                            Como um dos principais objetivos da empresa é diminuir o deficit de moradia no Brasil, a MRV oferece
                            facilidade na compra, métodos de pagamento flexívies e parceria com os maiores bancos de
                            financiamento imobiliário, que somado com o investimento em ações sustentáveis, projetos sociais,
                            ações ambientais e incentivo ao esporte, proporcionará novas perspectivas a todos.
                        </div>
                        <div id="video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/DDiqCQgsCWY"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="BB"></div>
        </div>
        <div class="container-fluid" id="caixa">
            <div class="descricao">
                <div class="rowtitulo-2">
                    Vamos construir o futuro juntos ?
                </div>
                <div class="rowtexto-2">
                    Este site tem como o objetívo de fortalecer as relações de empreiteiros com a MRV, disponibilizando
                    oportunidades de trabalho e agilizando o processo administrativo !
                </div>
            </div>
        </div>
        <div class="container">
            <img src="/imagens/Institucional/crianca.webp" alt="crianca" width="500" height="333"> <img
            src="/imagens/Institucional/familia.webp" alt="crianca" width="500" height="333" id="img">
        </div>
        <div class="container">
            <div class="descricao2">
                <div class="rowtitulo-3">
                    Sobre o projeto
                </div>
                <div class="rowtexto-3">
                    Com um menu vivo e interativo de obras, você poderá facilmente encontrar locais para atuar,
                    conseguindo filtrar as oportunidades por região e escolher aquela certa para você.
                </div>
            </div>
            <br>
            <br>
        </div>